h1{
  text-align: center;
}

.ol{
text-decoration: none;
}

.mql{
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  margin: 150px;
  flex-direction: column;
  
}
